In [15]:
import os
import boto3
import pandas as pd

In [14]:
# Accedo y descargo los archivos de precios del dolar en S3
s3_resource = boto3.resource('s3')
s3_client = boto3.client('s3')
bucket_name = 'proccesed-dollar-mia-electiva-3'

bucket = s3_resource.Bucket(bucket_name)

folder_name = 'precios_dolar'

for obj in bucket.objects.all():
    s3_client.download_file(bucket_name, obj.key, f'{folder_name}/{obj.key}')

In [25]:
# Lee todos los archivos para extraer el precio diario del dolar al cierre de la jornada
dollar_close_price_daily = []

for filename in os.listdir(folder_name):
    file_path = (os.path.join(folder_name, filename))
    if os.path.isfile(file_path):
        df = pd.read_csv(file_path)
        dollar_close_price_daily.append(df.iloc[-1])

df_dollar_daily_price = pd.concat(dollar_close_price_daily, axis=1).transpose()

In [26]:
df_dollar_daily_price

                    fecha      valor
1708  2023-03-17 18:00:00  4824.1162
1169  2023-03-03 18:00:00  4780.8829
1417  2023-03-27 17:59:57  4686.8365
1293  2023-03-06 17:59:55  4734.7354
1103  2023-03-22 18:00:00  4776.2492
965   2023-04-04 17:59:47  4587.1628
1155  2023-03-07 17:59:59  4744.5885
1602  2023-03-01 18:00:00  4848.5226
1634  2023-02-28 18:00:00   4814.078
1208  2023-02-17 17:11:30  4920.7143
865   2023-04-05 18:00:00  4570.7655
830   2023-04-03 17:59:53  4602.7034
1238  2023-03-02 17:59:59   4856.044
1173  2023-03-13 17:59:53  4769.8526
1298  2023-03-14 17:58:52  4735.9552
1267  2023-03-30 18:00:00   4626.919
251   2023-02-20 17:56:47  4914.4387
1202  2023-03-28 17:59:59  4658.6845
1406  2023-03-29 18:00:00  4627.3598
1646  2023-03-10 17:59:59  4748.1538
1102  2023-02-24 17:59:45  4849.6534
1795  2023-02-22 18:00:00  4924.7666
1551  2023-03-23 18:00:00  4755.0706
865   2023-04-05 18:00:00  4570.7655
1229  2023-03-21 17:59:58  4804.2666
1529  2023-02-21 17:59:59  4950.1162
1748  2023-03-15 17:59:59  4835.7552
1098  2023-03-08 17:59:56  4755.8897
1099  2023-02-27 17:59:57   4808.136
1708  2023-03-17 18:00:00  4824.1162
1452  2023-03-16 17:59:52  4866.3711
982   2023-03-31 18:00:00  4646.3534
1033  2023-02-23 18:00:00  4853.9941